.box {
    border: solid 1px black;
    padding: 10px;
    text-align: center;
    width: 250px;
    justify-content: center;
    margin: 10px;
    background-color: #f0d58a;
    border-radius: 10px;
  }
  
  .container {
    text-align: center;
    margin: 0px auto;
    justify-content: center;
    width: 1200px;
    display: block;
    display: flex;
    flex-wrap: wrap;
  }
  
  body {
    background-color: #6fa8dc;
  }
  
  .bold {
    font-weight: bold;
    white-space: pre-line;
  }
  
  #title {
    text-align: center;
  }
  